

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">My Trips</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to new_trip_path, class: "btn btn-primary my-2" do %>
      <strong>+</strong>
    <% end %>
  </div>
</div>

<% if @trips.nil? %>
  <p>You have no trips available...</p>
<% else %>
  <% @trips.each do |trip| %>
    <%= link_to trip_path(trip.id), class: "text-decoration-none text-reset" do %>
      <div class="p-4 p-md-5 mb-5 rounded text-bg-dark position-relative" style="background: center / cover no-repeat url('<%= image_path @picture_array.sample %>');">
          <span class="position-absolute top-0 end-0 badge rounded-start bg-secondary">
            Starting in <%= (trip.start_date - Date.today).to_i %> days
          </span>
        <div class="col-md-8 px-0">
          <h2 class="display-4 fst-italic text-shadow"><%= trip.name %></h2>
          <p class="lead my-3 text-shadow"><%= trip.description %></p>
          <h3 class="mb-0 lead">
            <span class="badge bg-secondary">
              <i class="fa-solid fa-calendar-days text-light"></i>
              <span class="px-2"><%= trip.start_date.strftime('%a %d %b %Y') %> — <%= trip.end_date.strftime('%a %d %b %Y') %></span>
            </span>
          </h3>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
