<%= render "shared/modals/new_modal", modal: "trip", model: @new_trip %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">My Trips</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#newModal">
      Add a new trip
    </button>
  </div>
</div>

<% @trips.order(:start_date).each do |trip| %>
<%= link_to trip_path(trip.id), class: "text-decoration-none text-reset" do %>
<div class="card mt-3 shadow-hover:hover">
<%= image_tag @picture_array.sample, class: "card-img", style: "max-height: 200px; object-fit: cover;" %>
  <div class="card-header d-flex align-items-center">
    <div class="flex-grow-1">
      <h5><strong><%= trip.name %></strong></h5>
      </div>
      <div>
        <p>Starting in <%= (trip.start_date - Date.today).to_i %> days</p>
      </div>
  </div>
  <div class="card-body">
    <h5>
      <i class="fa-solid fa-calendar-days text-primary"></i>
      <%= trip.start_date.strftime('%a %d %b %Y') %> — <%= trip.end_date.strftime('%a %d %b %Y') %>
    </h5>
    <p class="card-text"><%= trip.description %></p>
  </div>
</div>
<% end %>
<% end %>
