<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2 mb-0">My Trips</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to new_trip_path, class: "btn btn-primary" do %>
      <strong>+</strong>
    <% end %>
  </div>
</div>

<div class="tripscontainer" data-controller="tasks">
  <div class="options">
    <% @trips.each do |trip| %>
      <div class="option <%= "active" if trip == @trips.first %>" style="background-image:url('<%= image_path @picture_array.sample %>');" data-action="click->tasks#showTrip" data-tasks-target="card">
        <div class="shadow">
          <div class="label">
            <div class="icon">
              <i class="fa-solid fa-plane-departure"></i>
            </div>
            <div class="info" style="position: relative;">
              <div class="main" style="color: #333333;font-size: 17px;"><%= trip.name %></div>
              <div style="font-size:12px; color: #333333;"><%= trip.start_date.strftime('%a %d %b %Y') %></div>
              <%# <div class="sub"><%= trip.description </div>%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
