<div class="d-flex">
  <h1>My Trips</h1>
  <%= link_to new_trip_path, class: "btn", style: "margin-top: 5px; margin-left: 2px;" do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
</div>

<div class="tripscontainer" data-controller="tasks">
  <div class="options">
    <% @trips.each do |trip| %>
      <div id="<%= trip.id %>" class="option <%= "active" if trip == @trips.first %>" style="background-image:url('<%= cl_image_path trip.photo.key %>');" data-action="click->tasks#showTrip" data-tasks-target="card" >
        <div class="shadow">
          <%= link_to trip_path(trip.id), class: "text-decoration-none text-reset" do %>
            <div class="label">
              <div class="icon">
                  <i class="fa-solid fa-plane-departure"></i>
              </div>
              <div class="info" style="position: relative;">
                <div class="main" style="color: #333333;font-size: 22px;"><%= trip.name %></div>
                <div style="font-size:15px; color: #333333;"><%= trip.start_date.strftime('%a %d %b %Y') %></div>
                <div><%= image_tag "tripsmore.svg", style: "width: 22px; position: absolute; left: 455px; bottom: 16px;" %></div>
                <%# <div class="sub"><%= trip.description </div>%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
