<%= render "shared/modals/new_modal", modal: "task", model: [@trip, @task], categories: @categories, trip: @trip %>
<%= render "shared/modals/edit_modal", modal: "trip", model: @trip %>


<div class="row g-4">
 <!-- <div class="col-md-8"> -->

    <div class="card">
    <div class="p-4 p-md-5 rounded text-bg-dark position-relative" style="background: center / cover no-repeat url('<%= image_path @picture_array.sample %>');">
        <span class="position-absolute top-0 end-0 badge rounded-start bg-secondary">
          Starting in <%= (@trip.start_date - Date.today).to_i %> days
        </span>
      <div class="col-md-8 px-0">
        <h2 class="display-4 fst-italic text-shadow"><%= @trip.name %></h2>
        <p class="lead my-3 text-shadow"><%= @trip.description %></p>
        <h3 class="mb-0 lead">
          <span class="badge bg-secondary">
            <i class="fa-solid fa-calendar-days text-light"></i>
            <span class="px-2"><%= @trip.start_date.strftime('%a %d %b %Y') %> — <%= @trip.end_date.strftime('%a %d %b %Y') %></span>
          </span>
        </h3>
      </div>
    </div>
      <div class="card-footer bg-white rounded-bottom d-flex justify-content-end">
        <%= link_to trip_path(@trip), class: "btn btn-light", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?" } do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </div>
    </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-3 border-bottom">
        <h1 class="h2">Tasks</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn clickshow" data-bs-toggle="modal" data-bs-target="#newModal">
            Add a new task
          </button>
        </div>
      </div>
      <div class="card-deck d-flex align-content-start justify-content-between flex-wrap">
        <% @dates.each_with_index do |date, i| %>
          <div class="card m-2" style="width: 20rem; border-radius: 13px; overflow: auto;">
            <div class="card-body">
              <% if @dates.count <= 10 %>
                <h5 class="card-title my-2">Day <%= i + 1 %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= date.to_s %></h6>
              <% else %>
                <h5 class="card-title my-2"><%= date.to_s %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Day <%= i + 1 %></h6>
              <% end %>
                <div class="task-list accordion my-2" id="accordionPanelsStayOpenExample">
                  <% if  @trip.tasks.where(date: date).count == 0 %>
                    <p class="mb-2 text-muted">No tasks today...</p>
                  <% else %>
                    <%= render "trips/task", tasks: @trip.tasks.where(date: date), day: i+1 %>
                    <p class="card-text mt-2">Who's coming: <%=link_to 'Caretaker name', '#', class: "card-link"%></p>
                  <% end %>
                </div>
            </div>
          </div>
        <% end %>
      </div>



      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-3 border-bottom">
        <h1 class="h2">Caretakers</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-primary my-2" <%# data-bs-toggle="modal" data-bs-target="#newModal" %>>
            +
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-evenly">
        <% @caretakers.each do |caretaker| %>
          <%= link_to user_profile_path(caretaker), data: { "bs-toggle": "tooltip", "bs-placement": "top", "bs-title": "#{caretaker.first_name} #{caretaker.last_name}" } do %>
            <%= cl_image_tag caretaker.photo.key, style: "width: 100px;", class: "rounded-circle" %>
          <% end %>
        <% end %>
      </div>
    </div>



   <!-- <div class="col-md-4">
      <div class="position-sticky">
        <div class="p-4 mb-3 bg-white rounded">
          <div id="calendar">
            <h4 class="fst-italic">Calendar</h4>
            <%= month_calendar do |date| %>
              <%= link_to trip_path(@trip, dates: date), class: "text-decoration-none link-dark" do %>
                <%= date.strftime('%d') %>
              <% end %>
            <% end %>
          </div>
          <div id="chat" class="my-4 rounded">
            <div class="card">
              <div class="card-header">
                Chat
              </div>
              <div class="card-body flex">
                <div class="mb-4 justify-self-end text-end">
                  <div class="text-bg-secondary p-3 justify-self-end rounded">
                  Hey, thanks for agreeing to stop by!
                  </div>
                  <span class="badge rounded text-bg-secondary">Me</span>
                  <small>16:30</small>
                </div>
                <div class="my-4 justify-self-end text-start">
                  <div class="text-bg-light p-3 justify-self-start rounded">
                  No problem!
                  </div>
                  <span class="badge rounded text-bg-light">Loreta</span>
                  <small>16:34</small>
                </div>
                <div class="mb-4 justify-self-end text-end">
                  <div class="text-bg-secondary p-3 justify-self-end rounded">
                  Did you scrub the floorboards?
                  </div>
                  <span class="badge rounded text-bg-secondary">Me</span>
                  <small>16:38</small>
                </div>
                <div class="input-group mt-4">
                  <input type="text" class="form-control" placeholder="New Message" aria-label="Message" aria-describedby="button-addon2">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
