<%= render "shared/modals", modal: "task", model: [@trip, @task], categories: @categories, trip: @trip %>
<h1><%= @trip.name %></h1>
<h2><%= @trip.description %></h2>
<h2><%= @trip.start_date %></h2>
<h2><%= @trip.end_date %></h2>
<h2><%= @trip.user.email %></h2>

<button type="button" class="btn btn-primary ms-5" data-bs-toggle="modal" data-bs-target="#newModal">
  Add a new task
</button>


<div class="task-list accordion my-5" id="accordionPanelsStayOpenExample">
  <% @trip.tasks.each_with_index do |task, i| %>
    <div class="accordion-item">
      <div class="accordion-header d-flex align-items-center" id="panelsStayOpen-heading<%=i.to_s%>">
        <input class="form-check-input m-3" type="checkbox" value="">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse<%=i.to_s%>" aria-expanded="true" aria-controls="panelsStayOpen-collapse<%=i.to_s%>">
          <h5 class="m-0"><%= task.name %></h5><span class="badge bg-primary rounded-pill ms-5"><%= task.category.name %></span>
        </button>
      </div>
      <div id="panelsStayOpen-collapse<%=i.to_s%>" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading<%=i.to_s%>">
        <div class="accordion-body">
          <%= task.description %>
        </div>
      </div>
    </div>
  <% end %>
</div>
