<%= render "shared/modals/new_modal", modal: "task", model: [@trip, @task], categories: @categories, trip: @trip %>
<%= render "shared/modals/edit_modal", modal: "trip", model: @trip %>


<div class="row g-4">
  <div class="col-md-8">
      <div class="card">
        <%= image_tag @picture_array.sample, class: "card-img", style: "max-height: 400px; object-fit: cover;" %>
          <div class="card-header d-flex align-items-center">
          <div class="flex-grow-1">
          <h5><strong><%= @trip.name %></strong></h5>
          </div>
          <div>
            <%= link_to trip_path(@trip), class: "card-link btn btn-secondary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal">
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <h5>
            <i class="fa-solid fa-calendar-days text-primary"></i>
            <%= @trip.start_date.strftime('%a %d %b %Y') %> — <%= @trip.end_date.strftime('%a %d %b %Y') %>
          </h5>
          <p class="card-text"><%= @trip.description %></p>
        </div>
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-3 border-bottom">
        <h1 class="h2">Tasks</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-primary my-4" data-bs-toggle="modal" data-bs-target="#newModal">
            Add a new task
          </button>
        </div>
      </div>
      <div class="day-cards">
        <%= @dates.each_with_index do |date, i| %>
          <div class="day-card">
            <div class="day-card-title">
              <% if @dates.count <= 10 %>
                <h2>Day <%= i + 1 %></h2>
                <p><%= date.to_s %></p>
              <% else %>
                <h2><%= date.to_s %></h2>
                <p>Day <%= i + 1 %> of your trip</p>
              <% end %>
            </div>
            <div class="task-list accordion my-2" id="accordionPanelsStayOpenExample">
              <%= render "trips/task", tasks: Task.where(date: date), day: i+1 %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-3 border-bottom">
        <h1 class="h2">Caretakers</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <button type="button" class="btn btn-primary my-2" <%# data-bs-toggle="modal" data-bs-target="#newModal" %>>
            Add a new caretaker
          </button>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-2 mb-4">
        <% @caretakers.each do |caretaker| %>
          <div class="col">
            <div class="card mt-3">
              <div class="card-header d-flex align-items-center">
                <h5><strong><%= caretaker.first_name %> <%= caretaker.last_name %></strong></h5>
              </div>
              <div class="card-body">
                <h5>
                  <i class="fa-solid fa-user text-primary"></i>
                </h5>
                <p class="card-text"><%= caretaker.email %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>



    <div class="col-md-4">
      <div class="position-sticky">
        <div class="p-4 mb-3 bg-white rounded">
          <div id="calendar">
            <h4 class="fst-italic">Calendar</h4>
            <%= month_calendar do |date| %>
              <%= link_to trip_path(@trip, dates: date), class: "text-decoration-none link-dark" do %>
                <%= date.strftime('%d') %>
              <% end %>
            <% end %>
          </div>
          <div id="chat" class="my-4 rounded">
            <div class="card">
              <div class="card-header">
                Chat
              </div>
              <div class="card-body flex">
                <div class="mb-4 justify-self-end text-end">
                  <div class="text-bg-secondary p-3 justify-self-end rounded">
                  Hey, thanks for agreeing to stop by!
                  </div>
                  <span class="badge rounded text-bg-secondary">Me</span>
                  <small>16:30</small>
                </div>
                <div class="my-4 justify-self-end text-start">
                  <div class="text-bg-light p-3 justify-self-start rounded">
                  No problem!
                  </div>
                  <span class="badge rounded text-bg-light">Loreta</span>
                  <small>16:34</small>
                </div>
                <div class="mb-4 justify-self-end text-end">
                  <div class="text-bg-secondary p-3 justify-self-end rounded">
                  Did you scrub the floorboards?
                  </div>
                  <span class="badge rounded text-bg-secondary">Me</span>
                  <small>16:38</small>
                </div>
                <div class="input-group mt-4">
                  <input type="text" class="form-control" placeholder="New Message" aria-label="Message" aria-describedby="button-addon2">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2"><i class="fa-regular fa-paper-plane"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
