<!-- NAVBAR -->

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbartotal">
  <div class="container-fluid">
    <%# <%= link_to "#", class: "navbar-brand" do %>
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%# <% end %>
    <%= form_with url: trips_path, method: :get, class: "d-flex formbox" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-2 navsearch", placeholder: "\uf002    Search", style: "font-family:Arial, FontAwesome; background-color: rgba(227, 241, 234, 0.4); border: none;" %>
      <%# <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border-radius:13px; font-size: 17px; width: 39px;">
      <span class="navbar-toggler-icon" style="width: 13px;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto navlogin">
        <% if user_signed_in? %>
          <li class="nav-item">
            <i class="fa-solid fa-bell icon"></i>
          </li>
          <li class="nav-item dropdown">
            <%= navbar_avatar(current_user) %>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_profile_path(current_user), class: "dropdown-item" %>
              <%= link_to "My Trips", trips_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Icons: https://iconoir.com/ -->


<!-- SIDEBAR -->

<div class="sidebar">
  <nav style="margin-top: 30px; display: flex; flex-direction: column; align-items: center;">

    <%= image_tag "3.png", class: "logosidebar" %>

    <%= link_to root_path, class: "sidebutton", style:"margin-top: 25px;" do %>
      <i class="fa-solid fa-house-chimney sidebaricon"></i>
    <% end %>

    <%= link_to user_profile_path(current_user), class: "sidebutton" do %>
      <i class="fa-solid fa-user sidebaricon"></i>
    <% end %>

    <%= link_to trips_path, class: "sidebutton" do %>
      <i class="fa-solid fa-plane-departure sidebaricon"></i>
    <% end %>

    <%= link_to root_path(anchor: "aboutus"), class: "sidebutton" do %>
      <i class="fa-solid fa-circle-info sidebaricon"></i>
    <% end %>

    <%= link_to destroy_user_session_path, class: "sidebutton", data: {turbo_method: :delete} do %>
      <i class="fa-solid fa-right-from-bracket sidebaricon"></i>
    <% end %>

    <!-- <button type="button" class="sidebutton">
      <i class="fa-solid fa-table-list sidebaricon"></i>
    </button> -->
  </nav>
</div>
