<a class="btn toggleButton" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  <i class="fa-solid fa-angles-left"></i>
</a>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
  <div style="margin-left:15px;">
    <p style="margin-bottom:0; color: #333333">Hello,</p>
    <p style="margin-bottom:0; font-weight:bold; color: #333333"><%="#{current_user.first_name}" %></p>
  </div>
    <div class="avatar-upload">
      <div>
        <%= link_to edit_user_registration_path do %>
          <i class="fa-solid fa-pen penProfile"></i>
        <% end %>
      </div>
      <div class="avatar-preview">
        <div id="imagePreview" style="background-image: url(<%= cloudinary_avatar(current_user) %>);">
        </div>
      </div>
    </div>
  </div>
  <hr style="border-top: 2px solid #A8CEC9; margin: 0 16px;">
  <div class="offcanvas-body" style="margin: 20px 10px;">

    <div class="flex-grid-pairs">
      <div class="col">
        <h6>Number of trips</h6>
        <div class="userinfo">
          <p style="font-size:26px; color:#008285;">|</p>
          <p style="margin-left: 5px;"><%= current_user.trips.count %></p>
          </div>

      </div>
      <div class="col">
        <h6>Friends</h6>
        <div class="userinfo">
          <p style="font-size:26px; color:#008285;">|</p>
          <p style="margin-left: 5px;"><%= current_user.trips.count %></p>
        </div>
      </div>
    </div>

    <div class="flex-grid-pairs">
      <div class="col">
        <h6>Future Trips</h6>
            <div class="userinfo">
              <p style="font-size:26px; color:#FC5757;">|</p>
              <% futuretrips = 0 %>
              <% current_user.trips.each do |trip| %>
                <% if trip.start_date >= Date.today %>
                  <% futuretrips =+ 1  %>
                <% end %>
              <% end %>
              <p style="margin-left: 5px;"><%= futuretrips.to_s %></p>
            </div>
      </div>
      <div class="col">
        <h6>Friends you've helped</h6>
          <div class="userinfo">
            <p style="font-size:26px; color:#7D67A4;">|</p>
            <p style="margin-left: 5px;"><%= current_user.tasks.pluck(:user_id).uniq.size %></p>
          </div>
      </div>
    </div>
    <div class="flex-grid-pairs">
      <div class="col">
        <h6>Completed tasks</h6>
          <div class="userinfo">
            <p style="font-size:26px; color:#A8CEC9;">|</p>
            <p style="margin-left: 5px;"><%= current_user.tasks.count %></p>
          </div>
      </div>
    </div>
    <hr style="border-top: 2px solid #A8CEC9; margin: 0 16px;">
    <div class="mostvaluablehelper d-flex flex-column align-items-center">
      <h5>Your most valuable helper</h5>
      <% users = current_user.tasks.pluck(:user_id) %>
      <%  if users.present? %>
        <% friend = User.find(users.max_by {|i| users.count(i)}) %>
        <p><%= friend.first_name %> helped you <%= users.count(users.max_by {|i| users.count(i)}) %> times</p>
        <%= friend_avatar(friend) %>
        <p style="font-size: 13px; color: rgba(51, 51, 51, 0.5); margin-top:10px;">A road to a friend’s house is never long.</p>
      <% else %>
        <p style="font-size: 13px; color: rgba(51, 51, 51, 0.5); margin-top:10px;">You have no friends yet <i class="fa-solid fa-face-sad-tear"></i></p>
      <% end %>
    </div>
    </div>
  <div>
    </div>
  </div>
</div>
