<div class="d-flex">
  <div class="left-pannel bg-light">
     <%= image_tag "logo3.png", class: "homepagelogo" %>
      <div>
        <p style="font-size: 16px; margin: 10px 62px 10px 55px;">Have peace of mind while you are away. Your trips, taken to new levels of tranquillity. Connecting Homeowners to Caretakers.</p>
        <p style="font-size: 14px; margin: 0px 62px 3px 55px; text-decoration: underline;"><%= link_to "Learn more", root_path(anchor: "aboutus") %></p>
      </div>
      <div class="homepagebuttons">
        <% if current_user %>
          <%= link_to "My trips", trips_path, class:"btn loginlandingpage1" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn loginlandingpage1" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn loginlandingpage2" %>
        <% end %>
      </div>
    </div>
  <div class="right-pannel">
  </div>
</div>
<div id="aboutus">
  <div style="width: 944px;margin: 25px;">
    <h1 style="width: 245px;">About us and our mission</h1>
  </div>
  <p style="margin-right: 63px; text-align: justify;">At ExtendedAway, we think about our clients as if they were our own friends. Our mission is to provide a simple, intuitive way for Homeowners and Caretakers to interact and get things done, fast. <br>Created by a group of 4 young entrepreneurs, ExtendedAway, has been operating worldwide for some days now. Whether you are taking a trip, and need a friend to take care of your house, or you are that friend that is coming to help, ExtendedAway is the app for you.</p>
</div>
<div id="features">
  <h1 style="justify-content: center; text-align: center; display:flex; margin-top:52px">All you need to enjoy some<br>peaceful days off</h1><br>
  <div class="features-table">
    <div class="featureinfo">
      <%= image_tag "house.png", class: "featureicons" %>
      <h4>Home Safety</h4>
      <p>Worried about your house getting robbed while you are away? Your trusted friends will be there to make it look habited.</p>
    </div>

    <div class="featureinfo">
      <%= image_tag "todolist.png", class: "featureicons" %>
      <h4>Dashboard</h4>
      <p>You will have a clear picture of what needs to be done, and what is already done. No task left behind!</p>
    </div>

    <div class="featureinfo">
      <%= image_tag "paw.png", class: "featureicons" %>
      <h4>Animal Care</h4>
      <p>Your pets will never feel alone again. Your caretakers will make sure to feed and comfort them, in the days you choose.</p>
    </div>
  </div>
</div>
