<div class="d-flex">
  <div class="left-pannel bg-light">
     <%= image_tag "logo3", class: "homepagelogo" %>
      <div>
        <p style="font-size: 16px; margin: 10px 62px 10px 55px;">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
        <p style="font-size: 14px; margin: 0px 62px 3px 55px; text-decoration: underline;"><%= link_to "Learn more", root_path(anchor: "aboutus") %></p>
      </div>
      <div class="homepagebuttons">
        <% if current_user %>
          <%= link_to "My trips", trips_path, class:"btn loginlandingpage1" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:"btn loginlandingpage1" %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn loginlandingpage2" %>
        <% end %>
      </div>
    </div>
  <div class="right-pannel">
  </div>
</div>
<div id="aboutus">
  <div style="width: 944px;margin: 25px;">
    <h1 style="width: 245px;">About us and our mission</h1>
  </div>
    <p style="margin-right: 63px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
<div id="features">
  <h1 style="justify-content: center; display:flex; margin-top:52px">All you need to enjoy some</h1>
  <h1>peaceful days off</h1><br>
    <div class="features-table">

      <div class="featureinfo">
        <%= image_tag "house.png", class: "featureicons" %>
        <h4>Home Safety</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>

      <div class="featureinfo">
        <%= image_tag "chat.png", class: "featureicons" %>
        <h4>Chat</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>

      <div class="featureinfo">
        <%= image_tag "paw.png", class: "featureicons" %>
        <h4>Animal Care</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>


  </div>
</div>
