<div class="row">
  <div class="col-12">
    <div class="card shadow w-100" style="border-radius: 10px!important;">
      <div class="card-body p-0">
        <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
          <h4 class="my-0 fw-normal">My Profile</h4>
        </div>
        <h5 class="card-title p-3 m-0">
          <strong>Email:</strong>
          <p><%= @user.email %></p>
          <strong>First Name:</strong>
          <p><%= @user.first_name %></p>
          <strong>Last Name:</strong>
          <p><%= @user.last_name %></p>
        </h5>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4">
  <div class="col-12">
    <div class="card shadow w-100" style="border-radius: 10px!important;">
      <div class="card-body p-0">
        <div class="card-header py-3" style="border-radius: 10px 10px 0 0;">
          <h4 class="my-0 fw-normal">My Trips</h4>
        </div>
        <% @user.trips.each do |trip| %>
        <h5 class="card-title p-3 m-0">
          <strong>Name:</strong>
          <p><%= trip.name %></p>
          <strong>Dates:</strong>
          <p><%= trip.start_date.strftime('%a %d %b %Y') %> — <%= trip.end_date.strftime('%a %d %b %Y') %></p>
          <%= link_to "Open", trip_path(trip.id), class: "btn btn-primary" %>
        </h5>
        <hr />
        <% end %>
      </div>
    </div>
  </div>
</div>
