<div class="login_container" data-controller="login" id="login_container">
	<div class="form-container sign-up-container">

		<!-- <form class="login-form" action="/users" id="new_user" method="post" data-turbo="false">
			<input type="hidden" name="authenticity_token" value="rsXLwH4A2kh53HGeagaIwHlDtDkCT7KYrYNrkurEQjYJaEoKdFYXKmS9Caoz1gUlLS4dEpwYqR-cXGXeCiz_5Q" autocomplete="off">
      <h1 style="display:flex; justify-content:center; color:black">Create Account</h1>
			<div class="social-container" style="margin: 15px;">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<%# <input class="sign_in_input" type="text" placeholder="First name" name="first_name" id="first_name" /> %>
      <input class="sign_in_input" placeholder="First name" autocomplete="First name" autofocus="autofocus" type="text" name="user[first_name]" id="user_first_name">
      <%# <input class="sign_in_input" type="text" placeholder="Last name" name="last_name" id="last_name" /> %>
      <input class="sign_in_input" placeholder="Last name" autocomplete="Last name" autofocus="autofocus" type="text" name="user[last_name]" id="user_last_name">
			<%# <input class="sign_in_input" type="email" placeholder="Email" name="email" id="email"/> %>
			<input class="sign_in_input" placeholder="Email" autocomplete="email" autofocus="autofocus" required="required" aria-required="true" aria-invalid="true" type="email" value="" name="user[email]" id="user_email">
      <%# <input class="sign_in_input" type="password" placeholder="Password" name="password" id="password"/> %>
			<input class="sign_in_input" placeholder="Password" autocomplete="new-password" required="required" aria-required="true" aria-invalid="true" type="password" name="user[password]" id="user_password">
      <center> <input type="submit" class="form_signin_button" value="Sign Up"> </center>
		</form> -->
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "First name", class: "sign_in_input" } %>
        <%= f.input :last_name,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "Last name", class: "sign_in_input" } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "sign_in_input" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: "sign_in_input" } %>
        <!--<%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: "sign_in_input" } %>-->
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "form_signin_button" %>
      </div>
    <% end %>
	</div>


	<div class="form-container sign-in-container">
    <h1>Login</h1>
			<div class="social-container">
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
        <% end %>
      <% end %>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "form_signin",
  data: {turbo: false}) do |f| %>
    <div class="social-container-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "sign_in_input" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "sign_in_input" }, class: "sign_in_input" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "form_signin_button" %>
<% end %>
  </div>

	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
			</div>
			<div class="overlay-panel overlay-right">
        <div id="signInMessage"class="sign-in d-none">
          <h1>Welcome Back!</h1>
				  <p>To keep connected with us please login with your personal info</p>
				  <button class=" form_signin_button ghost" id="signIn">Sign In</button>
        </div>
        <div id="signUpMessage" class="sign-up">
        	<h1>Hello, Friend!</h1>
				  <p>Enter your personal details and start your journey with us</p>
				  <button class=" form_signin_button ghost" id="signUp">Sign Up</button>
        </div>
			</div>
		</div>
	</div>
</div>

<%#= render "devise/shared/links" %>
