<!DOCTYPE html>
<html>
  <head>
    <title>ExtendedAway</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

  </head>

  <body>

    <% if params[:controller] == "pages" && params[:action] == "home" %>
     <%= yield %>
    <% else %>
      <main class="container mt-4">
      <%= yield %>
      <%= render "shared/navbar" %>
    <% end %>

      <%# <main class="container mt-4">
        <%= yield %>
      <%# </main> %>

    <%= render "shared/flashes" %>




    <%# <% unless params[:controller] == "pages" && params[:action] == "home" %>
       <%#= render "shared/footer" %>
    <%# end %>

  </body>
</html>
